.App-header {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.key_logo {
    width: 20%;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 1100px) {
    .key_logo {
      width: 30%;
    }
  }
  
  @media only screen and (max-width: 760px) {
    .key_logo {
      width: 50%;
    }
  }